<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.settings"
    coreApp="true"
    android:sharedUserId="android.uid.system">

    <application
        android:name="com.google.android.settings.generalaccess.SettingsGoogleGeneralAccessApplication"
        android:icon="@mipmap/ic_launcher_settings"
        tools:replace="android:name,android:icon">

        <uses-library android:name="org.apache.http.legacy" />

        <!-- Locale Picker -->
        <activity
            android:name="com.google.android.settings.localepicker.SetupSystemLocalePickerActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter android:priority="1">
                <action android:name="com.google.android.settings.localepicker.LOCALE_REGION_PICKER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.settings.localepicker.SetupRegionAndNumberingSystemActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.settings.localepicker.REGIONAND_PICKER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.settings.localepicker.SetupRegionSearchActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.settings.localepicker.SETUP_REGION_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.settings.localepicker.LocalePickerSetupWizardEventsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.setupwizard.SETUP_WIZARD_FINISHED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
