<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.settings"
    coreApp="true"
    android:sharedUserId="android.uid.system">

    <application
        android:name="com.google.android.settings.generalaccess.SettingsGoogleGeneralAccessApplication"
        android:icon="@mipmap/ic_launcher_settings"
        android:theme="@style/Theme.Settings"
        tools:replace="android:name">

        <uses-library android:name="org.apache.http.legacy" />

    </application>

</manifest>
